<?xml version="1.0" encoding="UTF-8"?>
<plugin
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-hikvision"
        version="2.3.1">

    <name>hikvision</name>
    <description>对hikvision视频sdk封装成cordova</description>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/hikvision.js" name="hikvision">
        <clobbers target="window.plugins.hikvision"/>
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="hikvision">
                <param name="android-package" value="com.nodehope.cordova.plugins.hikvision.hikvision"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.test.demo.DemoActivity">
            </activity>
        </config-file>

        <source-file src="src/android/sdk/AudioEngineSDK.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/sdk/HCNetSDK.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/sdk/jna.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/sdk/PlayerSDK.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/com" target-dir="src" framework="true" />
        <source-file src="src/android/libs/armeabi" target-dir="libs" framework="true" />
        <source-file src="src/android/hikvision.java" target-dir="src/com/nodehope/cordova/plugins/hikvision"/>
        <source-file src="src/android/res/layout/main.xml" target-dir="res/layout" framework="true" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="hikvision">
                <param name="ios-package" value="CDVHikVison"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVHikVison.h" />
        <source-file src="src/ios/CDVHikVison.m" />
        <resource-file src="src/ios/SimpleDemoViewController.xib" />
        <header-file src="src/ios/include/hcnetsdk.h" />
        <source-file src="src/ios/Classes/AlarmTest.mm" />
        <source-file src="src/ios/Classes/AudioBuffer.cpp" />
        <source-file src="src/ios/Classes/AudioBuffer.h" />
        <source-file src="src/ios/Classes/AudioCodecDef.h" />
        <source-file src="src/ios/Classes/AudioEngine.h" />
        <source-file src="src/ios/Classes/ConfigTest.mm" />
        <source-file src="src/ios/Classes/DeviceInfo.h" />
        <source-file src="src/ios/Classes/DeviceInfo.m" />
        <source-file src="src/ios/Classes/EzvizTrans.h" />
        <source-file src="src/ios/Classes/HikDec.h" />
        <source-file src="src/ios/Classes/ManageTest.mm" />
        <source-file src="src/ios/Classes/OtherTest.h" />
        <source-file src="src/ios/Classes/OtherTest.mm" />
        <source-file src="src/ios/Classes/Preview.h" />
        <source-file src="src/ios/Classes/Preview.mm" />
        <source-file src="src/ios/Classes/PTZTest.mm" />
        <source-file src="src/ios/Classes/SimpleDemoViewController.h" />
        <source-file src="src/ios/Classes/SimpleDemoViewController.mm" />
        <source-file src="src/ios/Classes/VoiceTalk.h" />
        <source-file src="src/ios/Classes/VoiceTalk.mm" />

        <source-file src="src/ios/lib/Release-iphoneos/libAudioEngine_64.a" framework="true" />
        <source-file src="src/ios/lib/Release-iphoneos/libHCCore.a" framework="true" />
        <source-file src="src/ios/lib/Release-iphoneos/libHCNetSDK.a" framework="true" />
        <source-file src="src/ios/lib/Release-iphoneos/libopensslwrap.a" framework="true" />
        <source-file src="src/ios/lib/Release-iphoneos/libplayctrl.a" framework="true" />
        <source-file src="src/ios/lib/Release-iphoneos/libSystemTransform.a" framework="true" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="GLKit.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="OpenAL.framework" />
        <framework src="libiconv.tbd" />
    </platform>

</plugin>
